<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset='UTF-8'>
        <title>Menu items</title>
    </head>
    <body>
        <table width="100%" style="text-align: left;">
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Price after tax</th>
                <th>Stock</th>
            </tr>
            {% for item in data %}
                <tr>
                    <td>{{item.title}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.price_after_tax}}</td>
                    <td>{{item.stock}}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>